<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <!--<add name="AuthContext" connectionString="Data Source=183.82.111.111;Initial Catalog=Rupdarshi;Persist Security Info=True;user id=cis;password=cis@a1!20;" providerName="System.Data.SqlClient" />-->
    <add name="AuthContext" connectionString="Data Source=183.82.111.111;Initial Catalog=Rupdarshi;Persist Security Info=True;user id=cis;password=cis@a1!20;"
      providerName="System.Data.SqlClient"/>
    <!--<add name="SPAREntities" connectionString="metadata=res://*/spar.csdl|res://*/spar.ssdl|res://*/spar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=183.82.111.111;initial catalog=Rupdarshi;persist security info=True;user id=cis;password=cis@a1!20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="RupdarshiEntities"
      connectionString="metadata=res://*/RupdarshiModel.csdl|res://*/RupdarshiModel.ssdl|res://*/RupdarshiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=183.82.111.111;initial catalog=Rupdarshi;persist security info=True;user id=cis;password=cis@a1!20;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>